<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.RPLlogger.url">
        </div>
        <label class="control-label">{{ _('Printer Name') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.RPLlogger.printer_name">
        </div>
        <label class="control-label">{{ _('Authentication Token') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.RPLlogger.authentication_token">
        </div>
    </div>
</form>